/* *{ */
/*     background-color: black; */
/* }     */
.body .facebook .image .img{
    size: 20px;
}

.facebook .content_below {
    color: white;
}

form{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.main .loginbutton .button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.main {
    width: 30%;
}

.main .email .password {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    gap: 20px;
    white-space: 10px;
}
