body {
    color: black;
    padding: 9px;
}
p {
    color: white;
}
h1 {
    color: white;
}
ul {
    color: white;
    padding: 9px;
   stroke-width: 9px; 
    stroke-opacity: 9;
}
ol {
    color: white;
    padding: 9px;
    stroke-opacity: 9;
}
em {
    color: white;
}
.alert-text {
    color: red;
}
#title {
    background-color: grey ;
}
.bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding: 10px;
}
